/*------------------------------------*\
	Settings
	Global variables, config
\*------------------------------------*/
@import "settings/global";
@import "settings/colors";
@import "settings/type";
@import "settings/responsive";



/*------------------------------------*\
	Tools
	Mixins and functions
\*------------------------------------*/
@import "tools/mixins";
@import "tools/placeholders";



/*------------------------------------*\
	Generic
	Ground-zero styles
\*------------------------------------*/
@import "generic/normalize";
@import "generic/box-sizing";



/*------------------------------------*\
	Base
	Unclassed HTML elements
\*------------------------------------*/
@import "base/figures";
@import "base/forms";
@import "base/grid";
@import "base/headings";
@import "base/images";
@import "base/links";
@import "base/lists";
@import "base/page";
@import "base/paragraphs";
@import "base/quotes";
@import "base/tables";



/*------------------------------------*\
	Objects
	Cosmetic-free design patterns
\*------------------------------------*/
@import "objects/wrappers";



/*------------------------------------*\
	Vendor
	Third-party styles
\*------------------------------------*/
/*@import "vendor/plugin";*/



/*------------------------------------*\
	Components
	Designed components, chunks of UI
\*------------------------------------*/
@import "components/header";
@import "components/footer";
@import "components/buttons";



/*------------------------------------*\
	Trumps
	Helpers and overrides
\*------------------------------------*/
@import "trumps/helper";



/*------------------------------------*\
	Origin
\*------------------------------------*/

header {
	border-bottom: 1px solid #EEE;
}

header h4 {
	margin: 0;
	line-height: 70px;
}

.subtitle {
	color: #999;
	text-transform: uppercase;
	@include font-size($h4-size);
	margin-top: $spacing-l;
	font-weight: 400;
}

.swatch {
	min-height: 160px;
	display: table;
	width: 100%;
	margin-bottom: $spacing;
}

.swatch--primary 		{ background: $primary; }
.swatch--secondary 		{ background: $secondary; }
.swatch--greentea 		{ background: $greentea; }
.swatch--ripe-orange 	{ background: $ripe-orange; }

.swatch__meta {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	font-family: $alt-font;
	color: #fff;
}

.swatch__hex {
	display: block;
}

.example-grid span {
	display: block;
    background: #eee;
    text-align: center;
    border-radius: 4px;
	margin-bottom: $spacing;
	padding: $spacing;

	&:hover {
		background: #ccc;
	}
}