/*------------------------------------*\
	Settings
	Global variables, config
\*------------------------------------*/
@import "settings/global";
@import "settings/colors";
@import "settings/type";
@import "settings/responsive";



/*------------------------------------*\
	Tools
	Mixins and functions
\*------------------------------------*/
@import "tools/mixins";
@import "tools/placeholders";



/*------------------------------------*\
	Generic
	Ground-zero styles
\*------------------------------------*/
@import "generic/normalize";
@import "generic/box-sizing";



/*------------------------------------*\
	Base
	Unclassed HTML elements
\*------------------------------------*/
@import "base/figures";
@import "base/forms";
@import "base/grid";
@import "base/headings";
@import "base/images";
@import "base/links";
@import "base/lists";
@import "base/page";
@import "base/paragraphs";
@import "base/quotes";
@import "base/tables";



/*------------------------------------*\
	Objects
	Cosmetic-free design patterns
\*------------------------------------*/
@import "objects/wrappers";



/*------------------------------------*\
	Vendor
	Third-party styles
\*------------------------------------*/
/*@import "vendor/plugin";*/



/*------------------------------------*\
	Components
	Designed components, chunks of UI
\*------------------------------------*/
@import "components/header";
@import "components/footer";
@import "components/buttons";



/*------------------------------------*\
	Trumps
	Helpers and overrides
\*------------------------------------*/
// @import "trumps/helper";



/*------------------------------------*\
	Media
	Print styles
\*------------------------------------*/
@media print {
	@import "media/print";
}
