/*------------------------------------*\
	Colours
\*------------------------------------*/

$background-color:      #fff;

$font-color:            #2d333a;
$heading-color:         #2d333a;
$link-color:            #ff3f4c;
$link-color-hover:      darken($link-color, 25%);

$important:             #BA4D48;
$info:                  #31708f;
$success:               #3c763d;
$warning:               #a94442;

$primary:               #4abf94;
$secondary:             #D7D1C7;
$greentea:              #036F73;
$ripe-orange:           #F49F11;
