/*------------------------------------*\
	Global
\*------------------------------------*/

$debug:                 false;
$responsive-helper:     false;

$spacing:               1em;
$spacing-s:		        $spacing/2;
$spacing-xs:	        $spacing/3;
$spacing-l:    		    $spacing*2;
$spacing-xl:         	$spacing*3;

$border-radius:         8px;
$border-radius-large:   32px;