/*------------------------------------*\
	Responsive
\*------------------------------------*/

$bp2:       30em;
$bp3:       37.5em;
$bp4:       48em;
$bp5:       64em;
$bp6:       76.250em;
$bp7:       87.5em;