/*------------------------------------*\
	Page
\*------------------------------------*/

html {
	color: $font-color;
	font-size: $base-font-size;
	font-family: $primary-font;
	line-height: $base-line-height;
}

body {
	background-color: $background-color;
}
